@{
  Layout = "_Layout";
}

@model CharacterCreator.Models.Character
@using CharacterCreator.Models

<h1>Starting Choices</h1>

<h2>@Model.Ancestry.AncestryName has the following ability boosts:</h2>
<ul>
  @foreach (AncestryBoost join in Model.Ancestry.AncestryBoosts)
  {
    <li>@join.Boost.AbilityBoost</li>
  }
</ul>

@if (Model.Ancestry.AncestryFlaws.Count != 0)
{
  <h2>@Model.Ancestry.AncestryName has the following ability flaw(s):</h2>
  <ul>
    @foreach (AncestryFlaw join in Model.Ancestry.AncestryFlaws)
    {
      <li>@join.Flaw.AbilityFlaw</li>
    }
  </ul>
}

<h2>@Model.Background.BackgroundName has the following ability boosts:</h2>
<ul>
  @foreach (BackgroundBoost join in Model.Background.BackgroundBoosts)
  {
    <li>@join.Boost.AbilityBoost</li>
  }
</ul>
@* @Html.DropDownList("Boost2") *@
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CharacterId)
  @if (Model.Ancestry.AncestryFlaws.Count != 0)
  {
    @foreach (AncestryFlaw join in Model.Ancestry.AncestryFlaws)
    {
      @Html.Hidden(join.Flaw.AbilityFlaw, "AbilityFlaw")
    }
  }
  <h2>Assign Boosts</h2>
  <p>Ancestry Boosts:</p>
  <ul>
  @foreach (AncestryBoost join in Model.Ancestry.AncestryBoosts)
  {
    if (join.Boost.AbilityBoost == "Free")
    {
      <li>@Html.DropDownList("Boost2")</li>
    }
    else
    {
      @Html.Hidden(join.Boost.AbilityBoost, "AbilityBoost")
      <li>@join.Boost.AbilityBoost</li>
    }
  }
  </ul>
  <p>Background Boosts:</p>
  <ul>
    <li>@Html.DropDownList("BackgroundBoosts")</li>
    <li>@Html.DropDownList("Boost2")</li>
  </ul>
  <p>Free Boosts:</p>
  <ul>
    <li>@Html.DropDownList("Boost2")</li>
    <li>@Html.DropDownList("Boost2")</li>
    <li>@Html.DropDownList("Boost2")</li>
    <li>@Html.DropDownList("Boost2")</li>
  </ul>

  <input type="submit" value="Proceed" class="btn btn-default" />
}