@{
  Layout = "_Layout";
}

@model CharacterCreator.Models.Character

<h1>Create a Character</h1>
<hr />

@using (Html.BeginForm())
{
  <p>Name:</p>
  @Html.TextBoxFor(model => model.CharacterName)
  <p>Ancestry:</p>
  @Html.DropDownList("AncestryId")
  <p>Background:</p>
  @Html.DropDownList("BackgroundId")
  <p>Class:</p>
  @Html.DropDownList("CharacterClassId")

  <input type="submit" value="Proceed" class="btn btn-default" />
}
<p>@Html.ActionLink("Return to Character List", "Index")</p>